.g-button{
    @apply
    inline-flex
    items-center
    gap-2
    justify-center
    font-bold
    p-1
    px-3
    rounded-lg
    w-full
    border
    border-transparent;

    @apply
    xl:transition-colors
    xl:duration-300;

    &.-fit{
        @apply
        w-fit;
    }
    

    &.-big{
        @apply
        p-3
        text-lg
        rounded-xl;
    }

    &.-line-main-d{
        @apply
        border
        border-pr-main-d
        text-pr-main-d;
    }

    &.-line-white{
        @apply
        border-white
        text-white;
    }

    &.-main-l{
        @apply
        bg-pr-main-l
        text-pr-main-d;
    }

    &.-second-m{
        @apply
        bg-pr-second-m
        text-pr-main-d;
    }

    &.-second-d{
        @apply
        bg-pr-second-d
        text-white;
    }

    &, &.-main-d, &.-second-m, &.-second-d, &.-line-main-d, &.-line-white{
        @apply
        xl:hover:bg-white
        xl:hover:text-pr-third-m
        xl:hover:border-pr-third-m;
    }

    > .icon{
        @apply
        w-5
        h-5
        fill-pr-main-d;
    }
}