.cms-arrangement{
    @apply
    relative
    py-5
    overflow-hidden;

    @apply
    lg:py-24;

    &.-main-m{
        @apply
        bg-pr-main-m;

        > .grid{
            @apply
            fill-pr-second-m/20;
        }
    }

    &.-second-l{
        @apply
        bg-pr-second-l;

        > .grid{
            @apply
            rotate-12
            fill-pr-second-m;
        }
    }

    > .inner{
        @apply
        relative
        z-10
        g-container
        flex
        flex-col
        gap-5;
    
        @apply
        md:gap-16;
    }

    > .grid{
        @apply
        absolute
        top-1/2
        left-1/2
        -translate-x-1/2
        -translate-y-1/2
        w-[80%]
        h-[80%]
        fill-pr-second-l;
    }
}


.cms-arrangement__head{
    @apply
    flex
    flex-col
    items-center
    max-w-[500px]
    mx-auto;

    > .icon{
        @apply
        w-20
        h-20;

        @apply
        md:w-24
        md:h-24;
    }

    > .subtitle{
        @apply
        font-bold
        text-xl
        text-pr-main-l;

        @apply
        md:text-2xl;
    }
}

.cms-arrangement__body{
    @apply
    relative
    flex
    flex-col
    gap-5;

    @apply
    md:gap-16;

    > .illustration{
        @apply
        hidden
        absolute
        top-0
        left-0
        w-[735px]
        h-[590px]
        bg-cover;

        @apply
        lg:block
        lg:bg-[image:var(--bg)];

    }
}

.cms-arrangement__steps{
    @apply
    relative
    z-10
    bg-white
    shadow
    max-w-[900px]
    mx-auto;

    @apply
    lg:py-16
    lg:px-24
    lg:flex
    lg:mr-0
    lg:ml-auto
    lg:mt-[200px];

    > .menu{
        @apply
        hidden
        flex-col
        justify-center
        gap-5
        w-32
        shrink-0;

        @apply
        lg:flex;
    }

    > .content{
        @apply
        flex-1;
    }
}

.cms-arrangement__menu-item{
    @apply
    relative
    font-bold
    text-right
    text-pr-main-m
    pr-2
    border-r-2
    border-transparent;

    &.-active{
        @apply
        text-pr-main-l
        border-pr-main-l;
    }
}

.cms-arrangement__steps__step{
    @apply
    flex
    flex-col;

    &:first-child{
        > .toggle{
            @apply
            border-t-0;
        }
    }

    &.-open{

        > .toggle{
            @apply
            text-pr-main-l;
        }

        > .content{
            @apply
            flex;
        }
    }

    > .toggle{
        @apply
        p-5
        text-pr-main-m
        border-t
        border-pr-main-m
        text-left
        font-bold;

        @apply
        lg:hidden;
    }
    
}

.cms-arrangement__steps__step-content{
    @apply
    hidden
    flex-col
    gap-2
    px-5
    py-8
    border-t-2
    border-pr-main-m;

    @apply
    lg:gap-5
    lg:border-t-0;

    > .title{
        @apply
        font-mollges
        text-3xl
        text-pr-main-l;
    }

    > .body{

        @apply
        flex
        flex-col
        gap-2;
    
        @apply
        lg:gap-5
        lg:h-[420px]
        lg:overflow-auto;

        > .text{
            @apply
            font-light
            text-pr-main-m;
        }

    }
}