.cms-benefits{
    @apply
    bg-white;

    > .inner{
        @apply
        g-container
        w-fit
        py-5;

        @apply
        md:py-10;

        @apply
        lg:py-24;
    }
}

.cms-benefits__benefits{
    @apply
    flex
    flex-col
    gap-5
    p-5
    border
    border-pr-second-m
    bg-pr-second-l/30
    rounded-3xl;

    @apply
    md:flex-row;

    @apply
    lg:p-20
    lg:gap-16;

    > .benefit{
        @apply
        flex
        flex-col
        gap-5
        items-center
        pb-5
        border-b-2
        border-pr-second-m
        max-w-[400px];

        @apply
        md:pb-0
        md:pr-5
        md:border-b-0
        md:border-r;

        @apply
        lg:pr-16;

        &:last-child{
            @apply
            pb-0
            border-b-0;

            @apply
            md:pr-0
            md:border-r-0;

            @apply
            lg:pr-0;
        }

        > .icon{
            @apply
            w-14
            h-14;
        }

        > .title{
            @apply
            font-mollges
            text-pr-main-m
            text-4xl;
        }

        > .text{
            @apply
            cms-generic-content;
        }
    }
}