.cms-generic-content{
    @apply
    flex
    flex-col
    gap-3
    font-light
    text-pr-main-d;

    @apply
    md:gap-5;

    &.-alone{
        @apply
        py-5;
    }

    h2, h3{
        @apply
        font-mollges
        text-pr-main-m;
    }

    h2{
        @apply
        text-4xl;

        @apply
        lg:text-[4rem]
        lg:leading-[4rem];
    }

    h3{
        @apply
        text-3xl;

        @apply
        lg:text-[3rem]
        lg:leading-[3rem];
    }

    a{
        @apply
        font-bold
        text-pr-main-m
        underline-offset-2
        underline;

        @apply
        xl:transition-colors
        xl:hover:text-pr-third-m;
    }

    ul{
        @apply
        flex
        flex-col
        gap-2;
    }

    li{
        @apply
        relative
        pl-7;

        &::before{
            content: '';
            @apply
            absolute
            left-0
            top-2
            w-4
            h-4
            bg-[image:url('../icons/plus-circle.svg')]
            bg-cover;
        }
    }

    strong{
        @apply
        font-bold;
    }

}