.cms-key-numbers{
    @apply
    py-5
    bg-pr-second-l;

    @apply
    md:py-16;

    @apply
    lg:py-24;

    > .inner{
        @apply
        g-container
        flex
        flex-col
        gap-5;

        @apply
        sm:flex-row
        sm:flex-wrap
        sm:justify-center;

        > .item{
            @apply
            sm:flex-[1_1_30%]
            sm:max-w-[30%];

            @apply
            lg:flex-[1_1_18%]
            lg:max-w-[18%];
        }
    }
}

.cms-key-numbers__number{
    @apply
    flex
    flex-col
    gap-3
    items-center
    bg-white
    p-5
    rounded-md
    text-center;

    @apply
    lg:gap-5;

    > .logo{
        @apply
        h-[80px];
    }

    > .number{
        @apply
        font-mollges
        text-4xl
        -mb-2
        text-pr-main-l;
    }

    > .text{
        @apply
        text-pr-main-d
        font-light
        text-sm
        max-w-44
        mx-auto;
    }
}