.cms-last-articles{
    @apply
    g-container
    py-8
    flex
    flex-col
    gap-5;

    @apply
    lg:flex-row
    lg:pt-44
    lg:pb-24;

    > .mobilebutton{
        @apply
        mx-auto;

        @apply
        lg:hidden;
    }
}

.cms-last-articles__content{
    @apply
    flex
    flex-col
    gap-3;

    @apply
    lg:gap-5
    lg:max-w-[40%];

    > .head{
        @apply
        relative
        flex
        justify-center
        w-full
        max-w-[200px]
        mx-auto;

        @apply
        lg:justify-start
        lg:flex-wrap
        lg:max-w-none;

        @apply
        lg:gap-3;

        > .title{
            @apply
            md:text-center
            lg:text-left
            lg:w-full;
        }

        > .first{
            @apply
            right-full;
        }

        > .second{
            @apply
            left-full;
        }
    }

    > .text{
        @apply
        italic
        font-light
        text-center
        max-w-[500px]
        mx-auto;

        @apply
        lg:ml-0
        lg:text-left;
    }

    > .desktopbutton{
        @apply
        hidden;

        @apply
        lg:flex;
    }
}

.cms-last-articles__articles{
    @apply
    flex
    flex-col
    gap-5;

    @apply
    sm:flex-row
    sm:justify-center;

    @apply
    lg:justify-end;
}