.cms-simple-button{
    @apply
    flex
    items-center
    gap-3
    p-2
    shadow
    text-pr-main-d
    border-2
    border-transparent
    rounded;

    @apply
    xl:transition-colors
    xl:duration-300;

    &.-white{
        @apply
        bg-white;
    }

    &.-main-m{
        @apply
        bg-pr-main-m
        text-pr-main-l;
    }

    &:hover{
        @apply
        xl:text-pr-third-m
        xl:border-pr-third-m
        xl:bg-white;

        > .end > .arrow{
            @apply
            xl:bg-pr-third-m;

            > .icon{
                @apply
                xl:fill-white;
            }
        } 
    }

    &.-no-subtitle > .content > .title{
        @apply
        font-normal
        text-2xl
        font-mollges;
    }

    > .picto{
        @apply
        shrink-0
        w-12
        h-12
        flex
        items-center
        justify-center;

        > .icon{
            @apply
            w-11
            h-11;
        }
    }

    > .content{
        @apply
        flex-1
        flex
        flex-col;

        > .title{
            @apply
            text-xl
            font-bold;
        }

        > .subtitle{
            @apply
            text-xs
            italic;
        }
    }
    
}

.cms-simple-button__end{
    @apply
    flex
    gap-2
    shrink-0;

    > .text{
        @apply
        opacity-50;
    }


    > .arrow{
        @apply
        shrink-0
        w-7
        h-7
        flex
        items-center
        justify-center
        bg-pr-main-l
        rounded-full;

        &, > .icon{
            @apply
            xl:transition-colors;
        }

        > .icon{
            @apply
            w-3
            h-3
            fill-pr-main-m
            -rotate-90;
        }
    }
}