.cms-team{
    @apply
    py-5;

    @apply
    md:py-20;

    &.-main-l{
        @apply
        bg-pr-main-l;
    }

    &.-second-l{
        @apply
        bg-pr-second-l;
    }
    
    > .inner{
        @apply
        g-container
        flex
        flex-col
        gap-2;

        @apply
        md:flex-row
        md:flex-wrap
        md:justify-center
        md:gap-5;

        > .card{
            @apply
            md:w-[30%];
        }
    }
}