.cms-text-image{
    @apply
    bg-white;

    &.-main-l{
        @apply
        bg-pr-main-l;
    }

    &.-main-m{
        @apply
        bg-pr-main-m;
    }

    > .inner{
        @apply
        flex
        flex-col;

        @apply
        md:grid
        md:grid-cols-2
        md:gap-10
        md:items-center;

        @apply
        lg:gap-16;

        &.-imagefull{
            @apply
            md:gap-0;
        }

        &:not(.-imagefull){
            @apply
            g-container
            py-8;
        }
    }
}

.cms-text-image__image{

    &.-reverse{
        @apply
        order-2;
    }

    &:not(.-imagefull) > .picture{
        @apply
        rounded-md;
    }

    &.-imagefull{

        > .picture{
            @apply
            w-full
            h-full
            object-cover;      
        }
    }
}

.cms-text-image__content{
    @apply
    flex
    flex-col
    py-5;

    @apply
    md:gap-5;


    &.-main-d > .text{
        @apply
        text-white;
    }

    &.-reverse{
        @apply
        order-1;
    }

    &.-imagefull{
        @apply
        px-5
        max-w-[550px]
        mx-auto;
    }

    > .text, .button{
        @apply
        mx-auto
        max-w-[500px];

        @apply
        md:mx-0;
    }

    > .text{
        @apply
        cms-generic-content;

        &.-over-main-l{
            @apply
            text-pr-main-d;
        }
    
        &.-over-main-m{
            @apply
                text-white;
        }
    }
    
}