.cms-timeline{
    @apply
    relative
    py-8
    px-5;

    @apply
    lg:py-24;

    > .inner{
        @apply
        relative
        max-w-[1280px]
        mx-auto
        px-10;

        &::before{
            content: '';

            @apply
            absolute
            left-0
            right-0
            top-4
            w-full
            h-[2px]
            bg-pr-main-m;
        }
    }
}

.cms-timeline__slider{
    @apply
    overflow-hidden
    cursor-move;
}

.cms-timeline__slider__prev, .cms-timeline__slider__next{
    @apply
    absolute
    top-0
    z-20
    flex
    items-center
    justify-center
    w-9
    h-9
    rounded-full
    bg-pr-main-l
    cursor-pointer;

    @apply
    xl:transition-colors;

    &:hover{
        @apply
        xl:bg-pr-main-m;
        
        > .icon{
            @apply
            fill-white;
        }
    }

    > .icon{
        @apply
        w-5
        h-2
        fill-pr-main-m;

        @apply
        xl:transition-colors;
    }
}

.cms-timeline__slider__prev{
    @apply
    left-0;

    > .icon{
        @apply
        rotate-90;
    }
}
.cms-timeline__slider__next{
    @apply
    right-0;

    > .icon{
        @apply
        -rotate-90;
    }
}