@font-face {
    font-family: 'Blogh';
    src: url('/resources/fonts/Blogh-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Americane';
    src: url('/resources/fonts/AmericaneCond-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Americane';
    src: url('/resources/fonts/AmericaneCond-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

